.main-logo {
    
     position: relative;
     width: 20%;
    height: 100px;

}



.main-logo img {
    left: 0px;
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
   
}
